.contInput{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  input,
  textarea{
    width: 100%;
    outline: none;
  }
  input.invalid,
  textarea.invalid{
    border: 1px solid red;
  }
}

.contInput.invalid input{
  border: 1px solid red;
}
.contInput span{
  display: none;
}
.contInput.invalid span{
  display: block;
}