<section>

  <h1>
    Criar novo post
  </h1>

  <form [formGroup]="formPost">
    
      <div class="contInput">
        <label>
          Título
        </label>
        <input type="text" formControlName="titulo"
        [ngClass]="{ 'invalid': (formPost.controls['titulo'].status == 'INVALID' && formPost.controls['titulo'].touched) }">
        <p *ngIf="formPost.controls['titulo'].status == 'INVALID' && formPost.controls['titulo'].touched">
          Campo inválido
        </p>
      </div>
    
      <div class="contInput"
      [ngClass]="{ 'invalid': (formPost.controls['texto'].status == 'INVALID' && formPost.controls['texto'].touched) }">
        <label>
          Texto do post
        </label>
        <input type="text" formControlName="texto">
        <span>Campo inválido</span>
      </div>
    
      <div class="contInput"
      [ngClass]="{ 'invalid': (formPost.controls['imagem'].status == 'INVALID' && formPost.controls['imagem'].touched) }">
        <label>
          URL da imagem
        </label>
        <input type="text" formControlName="imagem">
        <span>Campo inválido</span>
      </div>
    
      <hr style="margin: 20px 0;">
    
      <button [disabled]="formPost.status === 'INVALID'" (click)="criarPost()">
        Adicionar POST
      </button>

  </form>

</section>

<!-- 

  Colocar validação de deixar o campo com borda vermelha quando estiver errado
  Um texto abaixo do campo avisando que esta errado
  O botão so ficar habilitado quando tudo estiver correto

 -->