<section class="contInterna">
  <img class="mainImgBanner" [src]="postAtual.imagem" />
  <h1>
    {{ postAtual.titulo }}
  </h1>
  <h6>
    {{ postAtual.autorId }}
  </h6>
  <h5>
    {{ postAtual.data }}
  </h5>
  <p>
    {{ postAtual.texto }}
  </p>

  <hr style="margin: 50px 0;">

  <h3>
    Comentários
  </h3>
  <div class="contComents">
    <div class="itemComentario" *ngFor="let coment of postAtual.comentarios">
      <div class="contInfosUser">
        <img [src]="converteUsuarioPfp(coment.autor)">
        <h6>
          {{ converteUsuario(coment.autor) }}
        </h6>
      </div>
      <p>
        {{ coment.texto }}
      </p>
      <button type="button" class="btnCurtida" [ngClass]="{ 'curtido': checkLike(coment) }">
        sz
      </button>
    </div>
    <form [formGroup]="formComentario">
      <textarea rows="5" formControlName="texto"></textarea>
      <button type="button" [disabled]="formComentario.status == 'INVALID'" (click)="fazerComentario()">
        Comentar
      </button>
    </form>
  </div>

</section>