<h1>
  Tabela de Departamentos
</h1>

<table>
  <tr>
    <th>
      ID
    </th>
    <th>
      Nome do Departamento
    </th>
    <th style="width: 100px;"></th>
    <th style="width: 100px;"></th>
  </tr>
  <tr *ngFor="let dpto of departamentos">
    <td>
      {{ dpto.id }}
    </td>
    <td>
      {{ dpto.departamento }}
    </td>
    <td>
      <button type="button">
        Editar
      </button>
    </td>
    <td>
      <button type="button">
        Deletar
      </button>
    </td>
  </tr>
</table>

<button type="button" (click)="abreModalCricaoDpto()">
  Criar Departamento
</button>

<div class="modal"  *ngIf="modalAberto">

  <div class="modal-content">
    <span class="close" (click)="fechaModal()">&times;</span>

    <h3>
      Criação de departamento
    </h3>

    <form [formGroup]="formularioDpto">

      <div>
        <input type="text" formControlName="departamento" placeholder="Nome do Departamento">
      </div>

    </form>

    <button type="button" (click)="criaDpto()">
      Adiciona Departamento
    </button>
    

  </div>

</div>