<!-- 
  CRUD

  C = Create - Criar - POST
  R = Read - Ler - GET
  U = Update - Atualizar - PUT
  D = Delete - Remover - DELETE

-->

<h1>
  Tabela de Produtos
</h1>

<table>
  <tr>
    <th>
      Produto
    </th>
    <th>
      Preço
    </th>
    <th>
      Estoque
    </th>
    <th style="width: 100px;"></th>
    <th style="width: 100px;"></th>
  </tr>
  <tr *ngFor="let prod of produtos">
    <td>
      {{ prod.nomeProduto }}
    </td>
    <td>
      {{ prod.precoProduto }}
    </td>
    <td>
      {{ prod.estoqueProduto }}
    </td>
    <td>
      <button type="button" (click)="abrirModalEditar( prod.id )">
        Editar
      </button>
    </td>
    <td>
      <button type="button" (click)="deletarProduto( prod.id )">
        Deletar
      </button>
    </td>
  </tr>
</table>

<button type="button" (click)="abreModal()">
  Criar Produto
</button>

<div class="modal"  *ngIf="modalAberto">

  <div class="modal-content">
    <span class="close" (click)="fechaModal()">&times;</span>

    <h3 *ngIf=" !edicaoProduto "> <!-- Aparece quando não for verdadeiro -->
      Criação de produto
    </h3>
    <h3 *ngIf="edicaoProduto"> <!-- Aparece quando for verdadeiro -->
      Edição de produto
    </h3>

    <form [formGroup]="formularioProduto">

      <div>
        <input type="text" formControlName="nome" placeholder="Nome do Produto">
      </div>

      <div>
        <input type="number" formControlName="preco" placeholder="Preço do Produto">
      </div>

      <div>
        <input type="number" formControlName="estoque" placeholder="Estoque do Produto">
      </div>

      <button type="button" [disabled]="formularioProduto.status === 'INVALID'" (click)="finalizarFormulario()">
        <!-- Se edicaoProduto for true aparece Editar e se for falso aparece Criar -->
        {{ ( (edicaoProduto == true) ? 'Editar' : 'Criar' ) }} Produto
      </button>

    </form>

  </div>

</div>